.montserrat-mysklad-markirovka {
    font-family: Montserrat;
}
.h2-style-mysklad-markirovka, .header-mysklad-markirovka, .subheader-mysklad-markirovka {
    text-align: center;
}
.header-mysklad-markirovka  {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.element-vozmojnostey-mysklad-markirovka, .element-podderjivaemie-tovary-mysklad-markirovka {
    display: flex;
    justify-content: center;
    align-items: center;
}
.subelement-vozmojnostey-mysklad-markirovka {
    border: 2px solid #30d5c8;
    border-radius: 5px;
    width: 400px;
    margin: 15px;
    padding: 15px;
}
.subheader-mysklad-markirovka {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.element-podderjivaemie-tovary-mysklad-markirovka {
    background-color: #30d5c74b;
    width: 620px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.subelement-podderjivaemie-tovary-mysklad-markirovka {
    padding: 0px 35px;
    border-radius: 5px;
    cursor: pointer;
}
.clothes-mysklad-markirovka {
    border: 2px solid #30d5c8;
}
.mini-conteiner-perfume-mysklad-markirovka, .mini-conteiner-shoes-mysklad-markirovka, .mini-conteiner-water-mysklad-markirovka, .mini-conteiner-milk-mysklad-markirovka, .mini-conteiner-clothes-mysklad-markirovka {
    margin: 0px 20px;
}
.conteiner-perfume-mysklad-markirovka, .conteiner-shoes-mysklad-markirovka, .conteiner-water-mysklad-markirovka, .conteiner-milk-mysklad-markirovka {
    display: none;
}
.conteiner-perfume-mysklad-markirovka, .conteiner-shoes-mysklad-markirovka, .conteiner-water-mysklad-markirovka, .conteiner-milk-mysklad-markirovka, .conteiner-clothes-mysklad-markirovka {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 530px;
    margin-top: 10px;
}
.conteiner-clothes-mysklad-markirovka {
    display: flex;
}
.kassovay-programma-dly-markirovky, .otgruzka-i-priemka-tovarov-c-markirovkoy, .proizvodstvo-tovarov, .podderjka-importerov {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 1200px;
    margin-top: 20px;
}
.conteiner-pochemu-nado-nachinat-seichas {
    width: 1200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.element-pochemu-nado-nachinat-seichas {
    width: 400px;
}